<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>

    <link rel="stylesheet" href="https://webstaticcontent.blob.core.windows.net/foundation6/foundation.css">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <style>
        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
        }
    </style>

    <link rel="stylesheet" href="css/app.css">
</head>
<!--Navigation Bar-->
<!-- Start Top Bar -->
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Home</li>
            <li>
                <a href="#">All Blogs</a>
            </li>
            <li>
                <a href="#">All Authors</a>
            </li>
            <li>
                <a href="#">All Topics</a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="menu-text">User: </li>
            <li>
                <a href="#">Logout</a>
            </li>

        </ul>
    </div>
</div>

<!-- End Top Bar -->

<article class="grid-container fluid">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-3">
            <img src="https://webstaticcontent.blob.core.windows.net/foundation6/blog-logo.jpg" alt="blog-logo" srcset="">
            <p>This is content about the blog that will go at this sidebar</p>
        </div>
        <div class="cell medium-9 align-mid">
            <br>
            <br>
            <h3>My Fisrt Silly Blog</h3>
            <p>
                think awhile of Love, and while I think, Love is to me a world, Sole meat and sweetest drink, And close connecting link Tween
                heaven and earth. I only know it is, not how or why, My greatest happiness; However hard I try, Not if I
                were to die, Can I explain. I fain would ask my friend how it can be, But when the time arrives, Then Love
                is more lovely Than anything to me, And so I'm dumb. For if the truth were known, Love cannot speak, But
                only thinks and does; Though surely out 'twill leak Without the help of Greek, Or any tongue.
            </p>
        </div>
    </div>


</article>

<script src="https://webstaticcontent.blob.core.windows.net/foundation6/jquery.js"></script>
<script src="https://webstaticcontent.blob.core.windows.net/foundation6/what-input.js"></script>
<script src="https://webstaticcontent.blob.core.windows.net/foundation6/foundation.js"></script>
<script src="js/app.js"></script>
</body>

</html>